<div class='wrapper'>
  <div class='side-bar'>
    <div class='side-bar-header'>
      <div class='header-title'>
       SASUKE<div class='sub-title'>作業療法評価アプリ</div>
      </div>
    </div>
  <div class='side-bar-contents'>
      <% if user_signed_in? %>
       <% @patients.each do |patient| %>
        <%= link_to "#{patient.name}さん", patient_path(patient.id), class: "patient-detail" %><br />
      <% end %>
    <% end %>
    </div>
    </div>

  <div class='main-contents'>
   <div class="main-header">
    <div class="main-header-right">
    <% if user_signed_in? %>  
      <div class="menu-btn">
        <div class="menu-name-1">
       <%= link_to '患者登録', new_patient_path, class: "patient" %>
      </div>
      </div>
      <div class="menu-btn">
      <div class="menu-name-2">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
      </div>
    </div>
   <% else %>
    <div class='menu-btn'>
      <div class='menu-name-3'>
        <%= link_to '新規登録', new_user_registration_path, class: "registration" %>
      </div>
    </div>
    <div class="menu-btn">
      <div class="menu-name-4">
        <%= link_to 'ログイン', new_user_session_path, class: "login" %>
      </div>
    </div>
    <% end %>
    </div>
    <div class="main-header-left">
    <% if user_signed_in? %>
     <div class='user-name'>  
      <div class='user-therapist-name'>
        <%= "お疲れ様です、#{current_user.therapist_name}さん" %>
      </div>
     </div>
    <% end %>
    </div>

  </div>
  <div class='main-title'>
  <div class='title'>
   <div class='title-1'>
    <div class="maru size_normal pink1">
       <div class="letter1">作</div>
    </div>
    <span class="letter1-title">業療法士を</span>
    </div>
    <div class='title-2'>
    <div class="maru size_normal pink2">
       <div class="letter2">助</div>
    </div>
    <span class="letter2-title">ける！</span>
    </div>
   </div>
      <div class="main-title-pict">
      <%= image_tag "ninja03_page-0001.jpg", size: "200x608" %>  
      </div>
  </div>
</div>
</div>
