<div class="search-main">
  <div class="search_header">
      <h2>検索結果</h2>
  </div>
  
 <div class="contents-row">
  <% @patients.each do |patient| %>
  <div class="patient-disease-name">
 <a href="/patients/<%= patient.id %>">
   <%= patient.disease_name %>
</div>
<div class="therapist-in-charge">
    <a href="/users/<%= patient.user.id %>">
    <%= patient.therapist_in_charge %>
      </a>
      </div>
  <% end %>
 </div>
 <div class='search-action'>
        <%=link_to "トップへ戻る", root_path, class: :top_btn %> 
        </div>
</div>